<div>

  <app-like [isActive]='tweet.isActive' [likesCount]='tweet.likesCount' (change)='handleChange($event)'></app-like>

  <app-favorite [isFav]='post.isFav' (change)='handleChange($event)'></app-favorite>

  <app-card>
    <ng-container class='heading'>Heading</ng-container>
    <ng-container class='body'>
      <h3>Body</h3>
      <p>test text text...</p>
    </ng-container>
  </app-card>

  <app-panel>
    <div class='heading'>Heading</div>
    <div class='body'>
      <h3>Body</h3>
      <p>test text text...</p>
    </div>
  </app-panel>

  <router-outlet></router-outlet>

</div>